<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>it-Service</title>

    <script>
        function validate() {
            let res = true;
            if ($('#ZeroZero').val() === '' || $('#ZeroOne').val() === '' || $('#ZeroTwo').val() === ''
                || $('#OneZero').val() === '' || $('#OneOne').val() === '' || $('#OneTwo').val() === ''
                || $('#TwoZero').val() === '' || $('#TwoOne').val() === '' || $('#TwoTwo').val() === '') {
                alert('Заполните все поля!');
                res = false;
            }
            return res;
        }
    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/calculation}">Расчёт</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/allBySubstringType}">Вывод расчётов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registerPage}">Вывод Магических квадратов</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="card" style="width:80%">
            <div class="card-header">
                Преобразование в Магический квадрат.
            </div>
            <div class="card-body">
                <form th:action="@{/add}" method="post">
                    <div th:if="${validate}" class="alert alert-danger" role="alert">
                        Повторение цифр недопустимо!
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="number" min="1" max="9" name="ZeroZero" id="ZeroZero">
                            <input type="number" min="1" max="9" name="ZeroOne" id="ZeroOne">
                            <input type="number" min="1" max="9" name="ZeroTwo" id="ZeroTwo">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="number" min="1" max="9" name="OneZero" id="OneZero">
                            <input type="number" min="1" max="9" name="OneOne" id="OneOne">
                            <input type="number" min="1" max="9" name="OneTwo" id="OneTwo">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="number" min="1" max="9" name="TwoZero" id="TwoZero">
                            <input type="number" min="1" max="9" name="TwoOne" id="TwoOne">
                            <input type="number" min="1" max="9" name="TwoTwo" id="TwoTwo">
                        </label>
                    </div>
                    <button type="submit" formaction="add"
                            class="btn btn-primary" onclick="return validate()">
                        Сохранить
                    </button>
                    <button type="submit" formaction="exportMagicToTxt"
                            class="btn btn-primary" onclick="return validate()">
                        Экспортировать(сохранить в .txt)
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>